#table{
    background-color: yellow;
    border-collapse: collapse ;
    width: 100%;
    border-style: dotted;   
    border-width: 1px;
    border-color: black;
    font-size: medium;
    
}
.th{
    color: red;
    border-style: dotted;
    border-width: 1px;
    
}

.td{
    border-style:dotted;
    border-width: 1px;
    border-color: black;
}
.p{
    
    border-bottom:dashed ;
    border-width: 1px;
    border-color: red;
}