table{
    margin: auto;
    background-color: yellow;
    border-collapse: collapse ;
    width: 100%;
    border: 1px dotted black;
    font-size: medium;    
}
.th{
    color: red;
    border: 1px dotted black;
}

td{
    border: 1px dotted black;

}
  
.p{
     border-bottom:dashed ;
    border-width: 1px;
     border-color: red;
}





