
.link{
    text-align:center;
    font-size:x-large;
}

.marca{
    color:yellow;
    text-align:center;
    font-size:x-large;
    word-spacing: 0.25em;

}

.as{
    color:purple;
    text-align:center;
    font-size:x-large;
    word-spacing: 0.25em;
}