
.links{
    text-align: center;
    text-align: justify;
    line-height: 50px;
}
.link{
    
    font-size:xx-large;
}

.marca{
    color:yellow;
    
    font-size:xx-large;
    word-spacing: 0.25em;
    

}

.as{
    color:purple;
    
    font-size:xx-large;
    word-spacing: 0.25em;
    
}