table{
    
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    
    background-color: rgb(223, 190, 223);
    padding: 15px 25px 15px 15px;
    color: white;
    border-spacing: 25px 5px;
    cursor: pointer;
    
    
}

.empty{
    width: 200px;  
}

table tr td :hover{
    background: blue;
    padding: 9px;
    font-weight: lighter;

}


